<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="/javascripts/angularScript.js"></script>  
	<title>Document</title>
</head>
<body ng-app = "theScraper" ng-controller="MainCtrl">
	{{test}}
</body>
</html>